body {
  background-image: url(Lakeith.jpg)
}

body{
  background-repeat: no-repeat;
  background-color: #FDD234;
  font-family: impact, sans-serif;
  font-weight: bold;
  width: 600px;
}

.small {
  color: #9E04E5;
  font-size: 20px;
  letter-spacing: 5px;
}

.big {
  color: #9E04E5;
  font-size: 30px;
  letter-spacing: 8px;
}

.titlered {
  color:red;
}

.titlepurple {
  color:#D563EC;
}

.red {
  color: red;
}

.lightp {
  color:#D563EC;
}

.darkp {
  color: #7109A8;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #F90000;
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
}

a {
  color: #D563EC;
  margin: 100px 0 0 10px;
}

.abrf {
  border-bottom: 5px solid #7109A8;
  padding-bottom: 10px;
}

.title {
  font-size: 115px;
  line-height: 55px;
  text-align: center;
  margin: 40px 0 550px 0;
}

#actors {
  margin: 0 0 0 10px;
  line-height: 10px;
  border-bottom: 5px solid #7109A8;
  padding-bottom: 15px;
  font-size: 30px;
  line-height: 20px;
}

#rating {
  margin: 10px 0 0 10px;
  text-align: center;
}

#title2 {
  margin: 0 0 0 -30px
}

#link {
  text-align: center;
}

#starring, #with1, #with2, #and{
  font-size: 25px;
}

#dglover {
  font-size:29px;
}

#starring, #lake, #stan, #tessa {
  margin: 0 13px 0 0;
}

#jerm, #fowler, #omari, #harwick, #terry {
  margin: 0 4px 0 0;
}
/*        TOP  RGHT BOTM LEFT */
